body{
    
        font-family: "Poppins", sans-serif;
       
}

h1{

    font-size: 40px;
}

.name{
    color: orange;
}
.half-width{
    width: 400px;
    float: left;
    margin-left: 5%;


}
.rifu{
    width: 480px;
    float: right;

}
.button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
p{
    text-align: justify;
}
h2{
    font-size: 40px;
    
    
}
.NN{
    font-size: 30px;
}
.KK{
    width: 400px;
    float: right;
    margin-right: 10%;
   
}

.BJ{
    width: 480px;
    float: left;
    margin-left: 15%;
    
}
.LK{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 106%;
}
.ll{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;


}
.lll{
    float: left;
}
.single-experience{
    box-shadow: 10px 10px 40px grey ;
    border-radius: 10px;
    height: 100%;
    width: 40%;
    
}
.MM{
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 85%;
    
}
#ML{
    border-left: 7px solid;
    border-right: 7px solid;
    border-top: 7px solid;
    border-bottom: 7px solid;
    border-image: linear-gradient(light salmon,tomato);
}
.no{
    text-align: center;
    font-size: 12px;
}